@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@551&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}



.mainMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 20px;
    overflow-y: auto;
    z-index: 2;
}
.menuBlock{
    margin: 10px 15px;
    background-color: white;
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, background-color 0.2s;
    z-index: 2;
}
.menuBlock:hover{
    border: 2px solid #FF4500;
    z-index: 2;
}
.menuBlock a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.2s;
    z-index: 2;
}
.menuBlock a:hover {
    color: #FF4500;
    z-index: 2;
}
.menuBlock1{
    margin: 10px 15px;
    background-color: white;
    border: 2px solid #FF4500;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, background-color 0.2s;
    z-index: 2;
}
.menuBlock1:hover{
    border: 2px solid #FF4500;
    z-index: 2;
}
.menuBlock1 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FF4500;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.2s;
    z-index: 2;
}
.menuBlock1 a:hover {
    color: #FF4500;
    z-index: 2;
}




/* main */









.compArtMain {
    width: 100%;
    height: 500vh;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
    line-height: 1.6;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 500;
    position: relative; 
}

.compContainer {
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    z-index: 2;
}

h1, h2 {
    text-align: center;
}

.compImg {
    width: 600px;
    border-radius: 10px;
    transition: 0.6s;
    object-fit: cover;
}

.compImg:hover {
    transform: scale(1.05);
    background: rgba(0, 0, 0, 0.4);
}

.compSection {
    padding: 30px;
}

.compImgDivCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


.compSideImg.left {
    left: -40%;
    width: 350px;
    height: auto;
    border-radius: 10px;
    position: absolute; 
    transform: translateY(-50%);
}


.compSideImg.right {
    right: -40%;
    width: 350px;
    height: auto;
    border-radius: 10px;
    position: absolute; 
    transform: translateY(-50%);
}


.compSideImg.left1 {
    left: -40%;
    width: 250px;
    height: auto;
    border-radius: 10px;
    position: absolute; 
    transform: translateY(-50%);
}


.compSideImg.right1 {
    right: -40%;
    width: 250px;
    height: auto;
    border-radius: 10px;
    position: absolute; 
    transform: translateY(-50%);
}








.compSideImgContainer {
    position: absolute;
    transform: translateY(-50%);
    width: 30%;
}

.compSideImgContainer.left {
    left: -40%;
}

.compSideImgContainer.right {
    right: -40%;
}

.compSideImg {
    width: 250px;
    height: auto;
    border-radius: 10px;
    position: absolute; 
    transform: translateY(-50%);
    transition: 0.4s ease-in-out;
    display: block;
}

.compSideImgText {
    position: absolute;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: bold;
    opacity: 0;
    transition: 0.4s ease-in-out;
    text-align: center;
    pointer-events: none;
}

.compSideImgContainer:hover .compSideImg {
    filter: brightness(60%);
}

.compSideImgContainer:hover .compSideImgText {
    opacity: 1;
}













/* .compContainer {
    position: relative;
    width: 45%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
} */







/* footer */



footer{
    text-align: center;
    background-color: #FF4500;
    color: #fff;
    padding: 20px;
    font-size: 14px;
    border-top: 2px solid #555;
}

footer p{
    margin: 0;
}

.themeButton{
    margin-top: 1vh;
    background-color: white;
    border-radius: 5px;
    border-color: #ffffff;
    background-color: #a83106;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s; 
}

.themeButton:hover{
    background-color: #722103;
    transform: translateY(-1px); 
}

.themeButton:active{
    background-color: #ff4400;
    transform: translateY(1px);
}






/* светлая тема */




.lightTheme main{
    background-color: white;
}







/* темная тема */



.darkTheme body{
    background-color: #222020;
}


.darkTheme main{
    background-color: #222020;
}





.darkTheme .themeButton{
    margin-top: 1vh;
    background-color: white;
    border-radius: 5px;
    border-color: #ffffff;
    background-color: #a83106;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s, transform 0.1s; 
}

.darkTheme .themeButton:hover{
    background-color: #722103;
    transform: translateY(-1px); 
}

.darkTheme .themeButton:active{
    background-color: #ff4400;
    transform: translateY(1px);
}





.darkTheme .compArtMain{
    background-color: #222020;
    color: #dddddd;
}

.darkTheme .compContainer{
    background-color: #222020;
}




.darkTheme .mainMenu{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-top: 20px;
    overflow-y: auto;
    z-index: 2;
}
.darkTheme .menuBlock{
    margin: 10px 15px;
    background-color: #1a1a1a;
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, background-color 0.2s;
    z-index: 2;
}
.darkTheme .menuBlock:hover{
    border: 2px solid #FF4500;
    z-index: 2;
}
.darkTheme .menuBlock a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #CCCCCC;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.2s;
    z-index: 2;
}
.darkTheme .menuBlock a:hover {
    color: #FF4500;
    z-index: 2;
}
.darkTheme .menuBlock1{
    margin: 10px 15px;
    background-color: #1a1a1a;
    border: 2px solid #FF4500;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, background-color 0.2s;
    z-index: 2;
}




